<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<runtime>
		<!--xmlns是必需的特性。指定程序集绑定所需的 XML 命名空间。 使用字符串“urn: 架构-microsoft-com:asm.v1”作为值。-->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<publisherPolicy apply="yes"/>
			<!--指定运行时是否使用发布者策略-->
			<!--指定加载程序集时公共语言运行时搜索的子目录, 其中privatePath是相对于*.exe.config文件的相对路径，多个文件夹以分号分隔。-->
			<probing privatePath="Dll"/>
		</assemblyBinding>
	</runtime>
</configuration>